<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ShopCart</display-name>


	<servlet>
		<servlet-name>siteController</servlet-name>
		<servlet-class>com.presentation.SiteController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>siteController</servlet-name>
		<url-pattern>/site/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>productController</servlet-name>
		<servlet-class>com.presentation.ProductController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>productController</servlet-name>
		<url-pattern>/product/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>cartController</servlet-name>
		<servlet-class>com.presentation.CartController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cartController</servlet-name>
		<url-pattern>/cart/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginController</servlet-name>
		<servlet-class>com.presentation.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginController</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>orderController</servlet-name>
		<servlet-class>com.presentation.OrderController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>orderController</servlet-name>
		<url-pattern>/order/*</url-pattern>
	</servlet-mapping>


	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>


</web-app>



